[user]
	name = shuya
	email = shuya@sfc.wide.ad.jp
	signingkey = E81ED6FB2D817621
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	grep = auto
[core]
	excludesfile = /Users/Shuya/.gitignore_global
	editor = nanoi
[paper]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
